In [6]:
import pandas as pd

In [7]:
result = pd.read_csv("../data/result20220317-2.csv", index_col="id")
result

            label
id
179406029       0
179406030       0
179406094       0
179406097       0
179406099       0
...           ...
2849971818      0
2850017469      0
2850017472      0
2851323065      0
2852368013      0

[15379 rows x 1 columns]

In [8]:
temp = pd.read_csv("../data/temp.csv", index_col="id")
temp

            label
id
179432306       0
179407620       0
2618303824      0
2323237963      0
1776054199      0
179405997       0
2329827259      0
179581865       0

In [9]:
for idx in temp.index[0:4]:
    result.loc[result.index == idx, "label"] = 1
result

            label
id
179406029       0
179406030       0
179406094       0
179406097       0
179406099       0
...           ...
2849971818      0
2850017469      0
2850017472      0
2851323065      0
2852368013      0

[15379 rows x 1 columns]

In [10]:
result.to_csv("../data/result20220317-2.csv", index=True)