In [86]:
import numpy as np
import pandas as pd

In [87]:
results = pd.read_excel("../data/样本分析.xlsx")

In [88]:
results

,id,result20220313-1\n0.94764715408,result20220301-3\n0.75862360388,result20220227-1\n0.85591428797,result20220227-2\n0.72360916970,result20220227-3\n0.69551358201,result20220224-1\n0.84045261879,result20220224-2\n0.86955341618,result20220223-1\n74938074441,result20220223-2\n0.78359608457,result20220223-3\n0.86214143686,result20220214-1\n0.73228887873
0,2533183958,√,√,√,NaN,NaN,√,√,NaN,NaN,√,√
1,2186749200,√,√,√,√,√,√,√,√,√,√,√
2,2445049876,√,√,√,√,√,√,√,√,√,√,√
3,2071313507,√,√,√,√,√,√,√,√,√,√,√
4,2745781539,√,√,√,√,√,√,√,NaN,√,√,√
...,...,...,...,...,...,...,...,...,...,...,...,...
163,179407055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
164,179433228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
165,179554514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
166,2337066378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
167,1688684718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√

In [89]:
filename = "result20220214-3"
result = pd.read_csv("../data/" + filename + ".csv", skiprows=1)
with open("../data/" + filename + ".csv", "r") as f:
    score = f.readline()[6:-1]
column = filename + "\n" + score
column

'result20220214-3\n0.66866947030'

In [90]:
results[column] = np.nan

In [91]:
pred_pos = result[result["label"] == 1]
known = pd.read_csv("../data/known.csv")
pred_pos

               id  label
4618    179601986      1
5190    874996400      1
5292    887227796      1
5599   1429892107      1
5799   1476442068      1
...           ...    ...
14978  2055289586      1
15013  2734030826      1
15056  2759317616      1
15240  2115712219      1
15314  2817362052      1

[69 rows x 2 columns]

In [92]:
for cons_id in pred_pos["id"].values.tolist():
    if cons_id in known["id"].values.tolist() and known[known["id"] == cons_id]["label"].iloc[0] == 0:
        continue
    if cons_id in results["id"].values.tolist():
        results.loc[results["id"] == cons_id, column] = "√"
    else:
        results.loc[max(results.index) + 1, "id"] = int(cons_id)
        results.loc[results["id"] == cons_id, column] = "√"

In [93]:
results["id"] = results["id"].apply(lambda x: int(x)).astype(str)
results

,id,result20220313-1\n0.94764715408,result20220301-3\n0.75862360388,result20220227-1\n0.85591428797,result20220227-2\n0.72360916970,result20220227-3\n0.69551358201,result20220224-1\n0.84045261879,result20220224-2\n0.86955341618,result20220223-1\n74938074441,result20220223-2\n0.78359608457,result20220223-3\n0.86214143686,result20220214-1\n0.73228887873,result20220214-3\n0.66866947030
0,2533183958,√,√,√,NaN,NaN,√,√,NaN,NaN,√,√,NaN
1,2186749200,√,√,√,√,√,√,√,√,√,√,√,√
2,2445049876,√,√,√,√,√,√,√,√,√,√,√,√
3,2071313507,√,√,√,√,√,√,√,√,√,√,√,√
4,2745781539,√,√,√,√,√,√,√,NaN,√,√,√,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,2225355472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
184,2245473740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
185,2245547066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
186,2273814498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
187,2734030826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√

In [94]:
results.to_excel("../data/样本分析.xlsx", index=False)