In [28]:
import numpy as np
import pandas as pd

In [29]:
results = pd.read_excel("../data/样本分析.xlsx")

In [30]:
results

,文件,result20220208-1,result20220208-2,result20220208-3,result20220209-1,result20220209-2,result20220209-3,result20220210-1,result20220210-2,result20220210-3,result20220211-1,result20220211-2
0,2071313507,NaN,NaN,√,√,√,√,√,NaN,√,√,√
1,2533183958,NaN,NaN,√,√,√,√,√,NaN,√,√,√
2,2186749200,NaN,NaN,NaN,√,√,√,√,NaN,√,√,√
3,2445049876,NaN,NaN,√,√,√,√,√,NaN,√,√,√
4,2533183961,NaN,NaN,√,√,√,√,√,NaN,√,√,√
...,...,...,...,...,...,...,...,...,...,...,...,...
982,1640592291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN,NaN
983,1643839344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN,NaN
984,1573727729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,1573734704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,1445379431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
filename = "result20220211-3"
if filename not in results.columns:
    results[filename] = np.nan

In [32]:
result = pd.read_csv("../data/" + filename + ".csv", skiprows=1)

In [33]:
result = result[result["label"] == 1]
result

               id  label
4165    179570155      1
4166    179570156      1
5101    852452263      1
5115    855996491      1
5292    887227796      1
...           ...    ...
14731  2661974115      1
14781  1882596918      1
15104  2071314383      1
15114  2085774672      1
15122  2089631488      1

[62 rows x 2 columns]

In [34]:
for cons_id in result["id"].values.tolist():
    if cons_id in results["文件"].values.tolist():
        results.loc[results["文件"] == cons_id, filename] = "√"
    else:
        results.loc[max(results.index) + 1, "文件"] = cons_id
        results.loc[results["文件"] == cons_id, filename] = "√"

In [35]:
# results = results.reindex(columns=sorted(results.columns))
results

,文件,result20220208-1,result20220208-2,result20220208-3,result20220209-1,result20220209-2,result20220209-3,result20220210-1,result20220210-2,result20220210-3,result20220211-1,result20220211-2,result20220211-3
0,2071313507,NaN,NaN,√,√,√,√,√,NaN,√,√,√,NaN
1,2533183958,NaN,NaN,√,√,√,√,√,NaN,√,√,√,NaN
2,2186749200,NaN,NaN,NaN,√,√,√,√,NaN,√,√,√,NaN
3,2445049876,NaN,NaN,√,√,√,√,√,NaN,√,√,√,NaN
4,2533183961,NaN,NaN,√,√,√,√,√,NaN,√,√,√,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,1640592291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN
983,1643839344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN
984,1573727729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,1573734704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,1445379431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
results.to_excel("../data/样本分析.xlsx", index=False)