In [89]:
import numpy as np
import pandas as pd

In [90]:
results = pd.read_excel("../data/样本分析.xlsx")

In [91]:
results

,文件,result20220208-1,result20220208-2,result20220208-3,result20220209-1,result20220209-2,result20220209-3,result20220210-1,result20220210-2
0,2071313507,NaN,NaN,√,√,√,√,√,NaN
1,2533183958,NaN,NaN,√,√,√,√,√,NaN
2,2186749200,NaN,NaN,NaN,√,√,√,√,NaN
3,2445049876,NaN,NaN,√,√,√,√,√,NaN
4,2533183961,NaN,NaN,√,√,√,√,√,NaN
...,...,...,...,...,...,...,...,...,...
979,2251440776,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN
980,2540517219,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN
981,1645556880,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN
982,1640592291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√
983,1643839344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√

In [92]:
filename = "result20220210-3"
if filename not in results.columns:
    results[filename] = np.nan

In [93]:
result = pd.read_csv("../data/" + filename + ".csv", skiprows=1)

In [94]:
result = result[result["label"] == 1]
result

               id  label
1815    179458306      1
5115    855996491      1
5190    874996400      1
6363   1541520478      1
6470   1606708811      1
6572   1645556880      1
6705   1990279480      1
6825   2071313507      1
7237   2347718608      1
7408   2212577893      1
7517   2238809293      1
7536   2245541933      1
7625   2268548573      1
7929   2533183958      1
7944   2535198442      1
8154   2486242927      1
8184   2496032641      1
8264   2427050072      1
8554   2717225077      1
8641   2755128229      1
8995    179569820      1
13618  2172970175      1
13644  2186749200      1
13658  2190112718      1
13717  2212416005      1
13829  2245547063      1
13855  2256064355      1
13856  2256067674      1
13857  2256088682      1
13884  2260041018      1
14008  2337066378      1
14019  2347718610      1
14138  2445049876      1
14257  2479963778      1
14322  2523401557      1
14433  2533183961      1
14590  2602819207      1
14616  2624797661      1
14745  2668866401      1
14800  1916407803      1
14821  1954405682      1
14973  2044965214      1
15240  2115712219      1

In [95]:
for cons_id in result["id"].values.tolist():
    if cons_id in results["文件"].values.tolist():
        results.loc[results["文件"] == cons_id, filename] = "√"
    else:
        results.loc[max(results.index) + 1, "文件"] = cons_id
        results.loc[results["文件"] == cons_id, filename] = "√"

In [96]:
# results = results.reindex(columns=sorted(results.columns))
results

,文件,result20220208-1,result20220208-2,result20220208-3,result20220209-1,result20220209-2,result20220209-3,result20220210-1,result20220210-2,result20220210-3
0,2071313507,NaN,NaN,√,√,√,√,√,NaN,√
1,2533183958,NaN,NaN,√,√,√,√,√,NaN,√
2,2186749200,NaN,NaN,NaN,√,√,√,√,NaN,√
3,2445049876,NaN,NaN,√,√,√,√,√,NaN,√
4,2533183961,NaN,NaN,√,√,√,√,√,NaN,√
...,...,...,...,...,...,...,...,...,...,...
979,2251440776,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN,NaN
980,2540517219,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN,NaN
981,1645556880,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,√
982,1640592291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN
983,1643839344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN

In [97]:
results.to_excel("../data/样本分析.xlsx", index=False)